@import "compass/css3";

/* extend */
#border_animation{
    position: absolute;
    background-image: url(../images/border.gif);
}
#square{
    position: absolute;
    background-image: url(../images/square.png);
    width: 10px;
    height: 10px;
    background-size: cover;
    background-color: #fff;
}
/* extend */

html {
    width: 100%;
    height: 100%
}

body {
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    width: 100%;
    height: 100%;
}

a {
  color: #00B7FF;
}

#overflow_box{
    width: 100%;
    height: 100%;
}

header{
    border-bottom: 1px solid #ddd;
    padding: 30px;
    h1{
    	font-size: 2em;
    	font-weight: bold;
    }
    #logo{
    	width: 400px;
    	float: left;
    }
    #loging_user{
    	width: 400px;
   		float: right;
    }
}

#canvas_area{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 100;
    display: none;
	#canvas{
        display: block;
		background: #aaa;
	}
}

#svg{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    width: 100%;
    height: 100%;
}

#img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#confirmation{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(200,200,200,0.8);
    display: none;

    #loading{
        display: none;
        position: absolute;
        background: white;
        @include border-radius(10px);

        img{
            position: absolute;
            top: 10px;
            left: 50%;
            margin-left: -24px;
        }
        #message{
            text-align: center;
            padding: 64px 10px 10px 10px;
        }
    }

    #main_brunch{
        width: 100%;
        display: none;
        text-align: center;
        textarea{
            font-size: 14px;
            margin: 0 auto;
            height: 24px;
            padding-top: 9px;
            margin-top: 30px;
            border: 1px solid #555;
            @include border-radius(3px);
        }
        .mind_title{
            width: 70%;
            display: block;
        }
        .main_brunch{
            width: 40%;
            display: inline-block;
        }
        .enter{
            display: block;
            margin: 0 auto;
            margin-top: 35px;
            width: 45px;

            padding: 4px 12px 4px 12px;
            background: #fff;
            border: 1px solid #aaa;
            cursor: pointer;
            @include border-radius(5px);
            @include transition(0.5s linear);
            &:hover{
                @include box-shadow(1px 1px 10px #888);
            }
        }
    }
    
    #img_confirmation{
        position: absolute;
        width: 300px;
        height: 300px;
        z-index: 10;
        display: none;

        #select_animation_t{
            @extend #border_animation;
            width: 300px;
            height: 1px;
            top: 0px;
        }
        #select_animation_b{
            @extend #border_animation;
            width: 300px;
            height: 1px;
            bottom: 0px;
        }
        #select_animation_l{
            @extend #border_animation;
            width: 1px;
            height: 300px;
            left: 0px;
        }
        #select_animation_r{
            @extend #border_animation;
            width: 1px;
            height: 300px;
            right: 0px;
        }
        
        #square_tl{
            @extend #square;
            top: -5px;
            left: -5px;
        }
        #square_bl{
            @extend #square;
            left: -5px;
            top: 295px;
        }
        #square_br{
            @extend #square;
            left: 295px;
            top: 295px;
        }
        #square_tr{
            @extend #square;
            top: -5px;
            left: 295px;
        }
        .square{
            cursor: pointer;
        }
        .enter{
            position: absolute;
            bottom: -35px;
            padding: 4px 12px 4px 12px;
            background: #fff;
            border: 1px solid #aaa;
            cursor: pointer;
            @include border-radius(5px);
            @include transition(0.5s linear);
            &:hover{
                @include box-shadow(1px 1px 10px #888);
            }
        }
    }
}

#main{
    width: 100%;
    height: 100%;
    position: relative;
    .rad_map{
        background: #eee;
        text-align: center;
        cursor: move;
        @include border-radius(5px);
        span{
            cursor: text;
        }
        .plus_l{
            width: 15px;
            height: 15px;
            position: absolute;
            left: -7px;
            @include opacity(0);
            cursor: pointer;
        }
        .plus_r{
            width: 15px;
            height: 15px;
            position: absolute;
            right: -7px;
            @include opacity(0);
            cursor: pointer;
        }
        .delete{
            width: 15px;
            height: 15px;
            position: absolute;
            @include opacity(0);
            cursor: pointer;
            top: -12px;
            right: -12px;
        }
    }
}

#login textarea{
	display: block;
    width: 20%;
    height: 2em;
}

.yes, .no{
    float: left;
    transition: 0.5s ease;
    cursor: pointer;
}

.yes:hover, .no:hover{
    color: #3498db;
}

.clear{
    clear: both;
}